<div class="topbar clearfix">
    <div class="topbar-left">
        <img class="logo" src="./assets/layout/images/dashboard/logo-test.png">
    </div>

    <div class="topbar-right">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)">
            <i></i>
        </a>

        <a id="rightpanel-menu-button" href="#" (click)="app.onRightPanelButtonClick($event)">
            <i class="material-icons">more_vert</i>
        </a>

        <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
            <i class="material-icons">menu</i>
        </a>

        <ul class="topbar-items animated fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}">
            <ng-container *ngFor="let item of menu">
                <li role="menuitem">
                    <a [routerLink]="item.routerLink">
                        <span>{{ item.label }}</span>
                    </a>
                </li>
            </ng-container>
            <li #profile class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
                [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

                <a href="#" (click)="app.onTopbarItemClick($event,profile)" class="avatar-container">
                    <span class="profile-name" *ngIf="isLoggedIn">{{ userName }}</span>
                    <img class="profile-image" [src]="avatar" />
                </a>
                <ul class="ultima-menu animated fadeInDown">
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)" [routerLink]="['/profile']">
                            <i class="material-icons">person</i>
                            <span>{{ 'PROFILE.TITLE' | translate }}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)"
                            (click)="isLoggedIn ? logout($event) : login($event)">
                            <i class="material-icons">power_settings_new</i>
                            <span>{{ loginTitle }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>