<div class="ui-fluid">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="ui-g">
            <div class="ui-g-12 main-content">
                <span class="md-inputfield">
                    <input type="text" pInputText [(ngModel)]="email" name="emailInput" required email
                        #emailInput="ngModel">
                    <label>{{ 'LOGIN.EMAIL' | translate }}</label>
                </span>
                <span *ngIf="!emailInput.valid && emailInput.touched">{{ 'LOGIN.MISSING_EMAIL' | translate }}</span>
            </div>
            <div class="ui-g-12 ui-md-4 ui-md-offset-8">
                <button pButton type="submit" label="{{ 'LOGIN.RESET' | translate }}" style="width: 100%"
                    [disabled]="!form.valid"></button>
            </div>
        </div>
    </form>
</div>