<h1>{{ 'PASSWORD.TITLE' | translate }}</h1>
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="ui-g ui-fluid form-group">
        <div class="ui-g-12 ui-md-6 ui-md-offset-3">
            <img src="./assets/layout/images/dashboard/logo-test.png ">
        </div>
        <div class="ui-g-12 ui-md-6 ui-md-offset-3">
            <div class="md-inputfield">
                <input type="password" pPassword [(ngModel)]="password" name="passwordInput" required password
                    #passwordInput="ngModel" minlength="8" maxlength="32">
                <label>{{ 'PASSWORD.PASSWORD' | translate }}</label>
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)">
                    <div *ngIf="passwordInput.errors.required">{{ 'PASSWORD.ERROR.MISSING_PASSWORD' | translate }}</div>
                    <div *ngIf="passwordInput.errors.minlength">{{ 'PASSWORD.ERROR.PASSWORD_TOO_SHORT' | translate }}
                    </div>
                    <div *ngIf="passwordInput.errors.maxlength">{{ 'PASSWORD.ERROR.PASSWORD_TOO_LONG' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-md-offset-3">
            <div class="md-inputfield">
                <input type="password" pPassword [(ngModel)]="passwordAgain" name="passwordAgainInput" required
                    #passwordAgainInput="ngModel" minlength="8" maxlength="32">
                <label>{{ 'PASSWORD.PASSWORD_AGAIN' | translate }}</label>
                <div class="ui-message ui-messages-error ui-corner-all"
                    *ngIf="passwordAgainInput.invalid && (passwordAgainInput.touched || passwordAgainInput.dirty)">
                    <div *ngIf="passwordAgainInput.errors.required">{{ 'PASSWORD.ERROR.MISSING_PASSWORD' | translate }}
                    </div>
                    <div *ngIf="passwordAgainInput.errors.minlength">
                        {{ 'PASSWORD.ERROR.PASSWORD_TOO_SHORT' | translate }}
                    </div>
                    <div *ngIf="passwordAgainInput.errors.maxlength">
                        {{ 'PASSWORD.ERROR.PASSWORD_TOO_LONG' | translate }}
                    </div>
                </div>
            </div>
            <div class="md-inputfield">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="'true'">
                    <div *ngIf="form.valid && !passwordsAreEquel">{{ 'PASSWORD.ERROR.PASSWORD_NOT_MATCH' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-md-offset-3">
            <button pButton type="submit" label="{{ 'PASSWORD.SENDBTN' | translate }}" style="width: 100%"
                icon="ui-icon-person" [disabled]="!form.valid || !passwordsAreEquel"></button>
        </div>
    </div>
</form>