$primaryColor                            : rgb(8, 55, 79);
$primaryDarkColor                        : rgb(0, 45, 72);
$primaryLightColor                       : #18aaf8;
$accentColor                             : #ffffff;
$accentDarkColor                         : #ad1457;
$accentLightColor                        : #f48fb1;
$accentTextColor                         : #629ee6;
$darkMenuBgColor                         : #E9E9E9;
$darkMenuHoverColor                      : #E9E9E9;
$darkMenuRouterLinkActiveColor           : #E9E9E9;
$lightMenuRouterLinkActiveColor          : #3F51B5;
$horizontalLightMenuRouterLinkActiveColor: #9fa8da;

@import '../../sass/layout/_layout';
